

<div id="relatorio-paisagem-container">

		<div id="relatorio-cabecalho">
			<div id="ufrn"><img src="/shared/img/instituicao/ufrn.gif"><br><a href="/sigaa/verPortalDiscente.do">Portal do Discente</a> </div>
			<div id="sinfo"><img src="/shared/img/instituicao/sinfo.gif">  </div>
			<div id="texto">
				Instituto Federal Catarinense<br>
				Sistema Integrado de Gestão de Atividades Acadêmicas<br>


				<br>
				<span class="dataAtual"> Emitido em 22/10/2019 09:22 </span>
			</div>
			<div class="clear"> </div>
		</div>
		<div id="relatorio">

		<br>





<style>
	.titulo {background: #E8E8E8; text-align: center; font-size: 20px; font-weight: bold; margin-bottom: 25px;}

	.listagem tr th {font-size: 10px !important; text-align: center;}
	.listagem tr .nota {font-size: 11px !important; text-align: center;}
	.listagem tr .disciplina {font-size: 11px !important; text-align: left;}

    .red {color: red;}

	.bold {font-weight: bold;}
	.normal {font-weight: normal;}

	.text-right {text-align: right;}
	.text-left {text-align: left;}
	.text-center {text-align: center;}

</style>


<div class="titulo" style="background: #FFF;">Boletim Escolar - 2019</div>
<div style="width: 900px">
<table class="listagem">
	<tbody><tr>
		<td colspan="4" class="titulo">Dados do Aluno</td>
	</tr>
	<tr>
		<td class="bold" style="width: 15%">Aluno(a):</td>
		<td>LUIZ HENRIQUE LAZZARIN</td>
		<td class="bold text-right">Matrícula:</td>
		<td>2018305339</td>
	</tr>
	<tr>
		<td class="bold">Turma de Entrada:</td>
		<td>TÉCNICO EM INFORMÁTICA PARA INTERNET INTEGRADO  AO ENSINO MÉDIO - A (2018)</td>
		<td class="bold" align="right">

				Ano - Série:


		</td>
		<td> 2019 - Ano 2 </td>
	</tr>

		<tr>
			<td class="bold">Situação:</td>
			<td colspan="3">MATRICULADO</td>
		</tr>


	<tr>
		<td colspan="4" class="titulo">Dados dos Componentes Curriculares</td>
	</tr>
</tbody></table>

<table class="listagem" border="1" style="width: 100%">
	<tbody><tr>
		<th>COMPONENTE CURRICULAR</th>



			<th>
				Trimestre 1
			</th>



			<th>
				Trimestre 1 - Reavaliação
			</th>



			<th>
				Trimestre 2
			</th>



			<th>
				Trimestre 2 - Reavaliação
			</th>



			<th>
				Trimestre 3
			</th>



			<th>
				Trimestre 3 - Reavaliação
			</th>



			<th>
				Trimestre 1 - Média Parcial
			</th>



			<th>
				Trimestre 2 - Média Parcial
			</th>



			<th>
				Trimestre 3 - Média Parcial
			</th>



			<th>
				Media Parcial Final
			</th>



			<th>
				Nota Necessária Exame
			</th>



			<th>
				Exame Final
			</th>



			<th>
				Média Final
			</th>



		<th>Faltas</th>

		<th>Situação</th>
	</tr>


		<tr>
			<td class="disciplina">
				INA0431-2 - LÍNGUA PORTUGUESA E LITERATURA BRASILEIRA

			</td>

 				<td class="nota" style="width: 7%"> 8.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.8 </td>

 				<td class="nota" style="width: 7%"> 6.5 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.3 </td>

 				<td class="nota" style="width: 7%"> 7.8 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 5.4 </td>

 				<td class="nota" style="width: 7%"> 4.4 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.2 </td>




			<td class="nota" style="width: 5%">
				10
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0432-2 - EDUCAÇÃO FÍSICA

			</td>

 				<td class="nota" style="width: 7%"> 9.1 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 9.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 9.1 </td>

 				<td class="nota" style="width: 7%"> 9.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 6.1 </td>

 				<td class="nota" style="width: 7%"> 3.4 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.7 </td>




			<td class="nota" style="width: 5%">
				1
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0433-2 - LÍNGUA ESTRANGEIRA (INGLÊS)

			</td>

 				<td class="nota" style="width: 7%"> 7.5 </td>

 				<td class="nota" style="width: 7%"> 9.5 </td>

 				<td class="nota" style="width: 7%"> 8.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 9.5 </td>

 				<td class="nota" style="width: 7%"> 8.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 5.9 </td>

 				<td class="nota" style="width: 7%"> 3.7 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.5 </td>




			<td class="nota" style="width: 5%">
				3
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0434-2 - MATEMÁTICA

			</td>

 				<td class="nota" style="width: 7%"> 8.7 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 4.6 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.7 </td>

 				<td class="nota" style="width: 7%"> 8.3 </td>

 				<td class="nota" style="width: 7%"> 4.6 </td>

 				<td class="nota" style="width: 7%"> 7.2 </td>

 				<td class="nota" style="width: 7%"> 0.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.2 </td>




			<td class="nota" style="width: 5%">
				4
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0435-2 - QUÍMICA

			</td>

 				<td class="nota" style="width: 7%"> 7.1 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.0 </td>

 				<td class="nota" style="width: 7%"> 3.5 </td>

 				<td class="nota" style="width: 7%"> 4.7 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.1 </td>

 				<td class="nota" style="width: 7%"> 7.0 </td>

 				<td class="nota" style="width: 7%"> 4.7 </td>

 				<td class="nota" style="width: 7%"> 6.3 </td>

 				<td class="nota" style="width: 7%"> 3.1 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.8 </td>




			<td class="nota" style="width: 5%">
				6
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0436-2 - FÍSICA

			</td>

 				<td class="nota" style="width: 7%"> 8.8 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.9 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.8 </td>

 				<td class="nota" style="width: 7%"> 8.9 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 5.9 </td>

 				<td class="nota" style="width: 7%"> 3.7 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.5 </td>




			<td class="nota" style="width: 5%">
				0
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0437-2 - BIOLOGIA

			</td>

 				<td class="nota" style="width: 7%"> 6.9 </td>

 				<td class="nota" style="width: 7%"> 7.4 </td>

 				<td class="nota" style="width: 7%"> 5.4 </td>

 				<td class="nota" style="width: 7%"> 9.5 </td>

 				<td class="nota" style="width: 7%"> 4.5 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.4 </td>

 				<td class="nota" style="width: 7%"> 9.5 </td>

 				<td class="nota" style="width: 7%"> 4.5 </td>

 				<td class="nota" style="width: 7%"> 7.1 </td>

 				<td class="nota" style="width: 7%"> 0.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.1 </td>




			<td class="nota" style="width: 5%">
				0
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0438-2 - HISTÓRIA

			</td>

 				<td class="nota" style="width: 7%"> 6.5 </td>

 				<td class="nota" style="width: 7%"> 6.7 </td>

 				<td class="nota" style="width: 7%"> 7.5 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 6.7 </td>

 				<td class="nota" style="width: 7%"> 7.5 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 4.7 </td>

 				<td class="nota" style="width: 7%"> 5.5 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 2.8 </td>




			<td class="nota" style="width: 5%">
				2
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0439-2 - GEOGRAFIA

			</td>

 				<td class="nota" style="width: 7%"> 8.7 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 9.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.7 </td>

 				<td class="nota" style="width: 7%"> 9.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 6.0 </td>

 				<td class="nota" style="width: 7%"> 3.5 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.6 </td>




			<td class="nota" style="width: 5%">
				8
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0440-2 - FILOSOFIA

			</td>

 				<td class="nota" style="width: 7%"> 8.3 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.6 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.3 </td>

 				<td class="nota" style="width: 7%"> 7.6 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 5.3 </td>

 				<td class="nota" style="width: 7%"> 4.6 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.2 </td>




			<td class="nota" style="width: 5%">
				8
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0441-2 - SOCIOLOGIA

			</td>

 				<td class="nota" style="width: 7%"> 10.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 4.5 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 10.0 </td>

 				<td class="nota" style="width: 7%"> 8.0 </td>

 				<td class="nota" style="width: 7%"> 4.5 </td>

 				<td class="nota" style="width: 7%"> 7.5 </td>

 				<td class="nota" style="width: 7%"> 0.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.5 </td>




			<td class="nota" style="width: 5%">
				4
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0442-2 - EMPREENDEDORISMO

			</td>

 				<td class="nota" style="width: 7%"> 7.7 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.4 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.7 </td>

 				<td class="nota" style="width: 7%"> 7.4 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 5.0 </td>

 				<td class="nota" style="width: 7%"> 5.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.0 </td>




			<td class="nota" style="width: 5%">
				4
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0479-2 - PESQUISA CIENTÍFICA

			</td>

 				<td class="nota" style="width: 7%"> 7.5 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.4 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.5 </td>

 				<td class="nota" style="width: 7%"> 8.4 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 5.3 </td>

 				<td class="nota" style="width: 7%"> 4.6 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.2 </td>




			<td class="nota" style="width: 5%">
				7
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0444-2 - PROGRAMAÇÃO II

			</td>

 				<td class="nota" style="width: 7%"> 6.1 </td>

 				<td class="nota" style="width: 7%"> 6.5 </td>

 				<td class="nota" style="width: 7%"> 7.4 </td>

 				<td class="nota" style="width: 7%"> 4.2 </td>

 				<td class="nota" style="width: 7%"> 0.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 6.5 </td>

 				<td class="nota" style="width: 7%"> 7.4 </td>

 				<td class="nota" style="width: 7%"> 0.0 </td>

 				<td class="nota" style="width: 7%"> 4.6 </td>

 				<td class="nota" style="width: 7%"> 5.6 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 2.8 </td>




			<td class="nota" style="width: 5%">
				3
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0445-2 - REDES DE COMPUTADORES

			</td>

 				<td class="nota" style="width: 7%"> 8.2 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 4.0 </td>

 				<td class="nota" style="width: 7%"> 9.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 8.2 </td>

 				<td class="nota" style="width: 7%"> 9.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 5.7 </td>

 				<td class="nota" style="width: 7%"> 4.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.4 </td>




			<td class="nota" style="width: 5%">
				4
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0446-2 - DESENVOLVIMENTO PARA WEB II

			</td>

 				<td class="nota" style="width: 7%"> 6.7 </td>

 				<td class="nota" style="width: 7%"> 5.9 </td>

 				<td class="nota" style="width: 7%"> 8.2 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 0.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 6.7 </td>

 				<td class="nota" style="width: 7%"> 8.2 </td>

 				<td class="nota" style="width: 7%"> 0.0 </td>

 				<td class="nota" style="width: 7%"> 5.0 </td>

 				<td class="nota" style="width: 7%"> 5.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.0 </td>




			<td class="nota" style="width: 5%">
				0
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>

		<tr>
			<td class="disciplina">
				INA0447-2 - DESENVOLVIMENTO DE SISTEMAS PARA DISPOSITIVOS MÓVEIS I

			</td>

 				<td class="nota" style="width: 7%"> 7.8 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 9.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 7.8 </td>

 				<td class="nota" style="width: 7%"> 9.0 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 5.6 </td>

 				<td class="nota" style="width: 7%"> 4.1 </td>

 				<td class="nota" style="width: 7%">  </td>

 				<td class="nota" style="width: 7%"> 3.4 </td>




			<td class="nota" style="width: 5%">
				3
			</td>

			<td class="nota" style="width: 5%">
				--
			</td>
		</tr>


	<tr>
		<td colspan="7" style="border-left-style: hidden; border-bottom-style: hidden;"></td>
		<td class="bold text-right" colspan="3" style="background: #E8E8E8;">Total de Faltas: </td>
		<td style="text-align: center; border-left-style: hidden; border-bottom-style: hidden; background: #E8E8E8;">67</td>
	</tr>


	<tr>
		<td colspan="7" style="border-left-style: hidden; border-bottom-style: hidden;"></td>
		<td class="bold text-right" colspan="3" style="border-top-style: hidden; background: #E8E8E8;">Percentual de Faltas referente ao Período Letivo: </td>
		<td style="text-align: center; border-left-style: hidden; background: #E8E8E8;">5.0%</td>
	</tr>



</tbody></table>
</div>
<br>


<div style="font-style: italic; padding-left: 100px">
	<b>**</b> As aprovações estão pendentes até a consolidação de todas as turmas do ano.
</div>


<br>
<b>*Legenda:</b><br>


				<b>T1</b> : Trimestre 1  ||

				<b>T1RE</b> : Trimestre 1 - Reavaliação  ||

				<b>T2</b> : Trimestre 2  ||

				<b>T2RE</b> : Trimestre 2 - Reavaliação  ||

				<b>T3</b> : Trimestre 3  ||

				<b>T3RE</b> : Trimestre 3 - Reavaliação  ||

				<b>T1MP</b> : Trimestre 1 - Média Parcial  ||

				<b>T2MP</b> : Trimestre 2 - Média Parcial  ||

				<b>T3MP</b> : Trimestre 3 - Média Parcial  ||

				<b>MPF</b> : Media Parcial Final  ||

				<b>NNEF</b> : Nota Necessária Exame  ||

				<b>EF</b> : Exame Final  ||

				<b>MF</b> : Média Final  ||

<br><br>
<b>**Situação Componente Curricular:</b><br>
<b>REPF</b> : Reprovado por falta || <b>REP</b> : Reprovado por média || <b>REPN</b> : Reprovado por nota || <b>REC</b> : Em recuperação || <b>APR</b> : Aprovado por média
 || <b>APRN</b> : Aprovado por nota mínima || <b>REPP</b> : Reprovado em todo período letivo || <b>APC</b> : Aprovado por conselho de classe



</div>
	<div class="clear"> </div>
	<br>
	<div id="relatorio-rodape">
		<p>
			<table width="100%">
				<tbody><tr>
					<td class="voltar" align="left">

						 	<a href="javascript:history.back();"> Voltar </a>


					</td>
					<td width="70%" align="center">
					SIGAA | Diretoria de Tecnologia da Informação - (47) 3331-7800 | Copyright © 2006-2019 - UFRN - jboss-sigaa-01.sig.ifc.edu.br.sigaa01
					</td>
					<td class="naoImprimir" align="right">
						<a onclick="javascript:window.print();" href="#">Imprimir</a>
					</td>
					<td class="naoImprimir" align="right">
						<a onclick="javascript:window.print();" href="#">
							<img alt="Imprimir" title="Imprimir" src="/shared/javascript/ext-1.1/docs/resources/print.gif">
						</a>
					</td>
				</tr>
			</tbody></table>
		</p>

	</div>
</div>






	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-60968808-1', 'auto');
	  ga('send', 'pageview');

	</script>


